* {
    padding: 0;
    margin: 0;
}

button {
    height: 50px;
    padding: 0 20px;
    margin: 5px;
    border: none;
    border-radius: 10px;;
}

.selected{
    text-decoration: underline;
    font-weight: bold;
}

svg{
    background-color: #E0E0E0;
}

.tooltip{
    font-size: calc(16px + 0.3vw);
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
}